<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.5.17/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      {{msg}}
      <div v-for="item in list">    
        <!-- class与样式绑定 -->
        <div
          v-if="item.age > 29"
          :class="['active','add','more',{'another':item.age < 30}]"
          :style="styleMsg">
      
          {{item.name}}
        </div>

        
        <div v-else>{{item.age}}</div>
      </div>
    </div>
    <script>
     var app = new Vue({
        el: "#app",
        data: {
          msg: "Hello World!!",
          styleMsg: {
            color: "red",
            textShadow: "0 0 5px yellow",
          },
          list: [
            {
              name: "chenweilin",
              age: 29,
            },
            {
              name: "小张",
              age: 30,
            },
          ],
        },
      });
    </script>
  </body>
</html>
